.socials {
    width:100%;
    height:20px;
    display:flex;
    justify-content: flex-end;
}

.contact {
    width:100px;
    height:100px; 
}

body {
    display:flex;
    flex-direction: column;
    
}


header {
    background-color:grey;
    display:flex;
    justify-content: center;
    align-items: center;
    padding:30px;
}

main {
    grid-area:main;
    background-color: rgb(212, 179, 138);
    padding:50px;
    padding-top:100px;
    display:flex;
    justify-content:center;
    align-items: center;
    flex-grow:1;

}

footer {
    background-color:grey;
    padding:30px;
}

/* flexbox for children of main parts*/
/*header*/

.headerContainer {
    display:flex;
    justify-content: center;
    padding:5px;
    flex-wrap:wrap;
    align-items: start;
}

.srvImgContainer {
    flex:1;
    max-width: 400px;
    min-width: 300px;
    
    position: relative;
    z-index: 2;

    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);
}

.headerScriptContainer {
    background-color: white;
    flex:1;
    padding:3rem;
    padding-left:4em;
    min-width:300px;

    position: relative;
    left: -40px;   /* creates overlap */
    top: 50px;     /* slight vertical offset */
    z-index: 1;

    
}

.srvImage {
    display:block;
    width:100%;
    height:auto;
}


/*main*/
section {
    min-width:100%;
    display:flex;
    justify-content:center;
    align-items: center;
    padding:40px;
    gap: clamp(10px, 3vw, 40px);
    flex-wrap:wrap;
    
    
}


.content  {
    flex-basis:500px;
    padding:30px;
}

.contentImages {
    display:flex;
    width:100%;
    height:auto;
    background-color:rgb(215, 186, 150);
    padding:10px;
   
}

.contentImages img {
    margin-right: auto;
    margin-left: auto;

}


/* mobile settings*/
/*header*/

@media (max-width: 782px) {

    .headerContainer {
      flex-direction: column;
      align-items: stretch;
    }
  
    .srvImgContainer {
        max-width: 100%;

    }
    .headerScriptContainer {
      max-width: 100%;
      left: 0px;   /* creates overlap */
       top:0px; 
    }
}