.socials {
    width:100px;
    height:100px;
}

.contact {
    width:100px;
    height:100px; 
}

body {
    display:grid;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-areas:
    "header"
    "main"
    "footer"

}

header {
    grid-area:header;
    background-color:grey;
    display:flex;
}

main {
    grid-area:main;
}

footer {
    grid-area:footer;
    background-color:grey;
}

/* flexbox for children of main parts*/

